<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card rasta-card">
			<div class="card-header">
				<h4 class="mb-0">Alterar Senha</h4>
			</div>
			<div class="card-body">
				<form action="{{ getLink('account/change-password') }}" method="post">
					{{ csrf() }}
					<div class="mb-3">
						<label class="form-label text-light fw-bold">Senha Atual:</label>
						<input type="password" name="old_password" class="form-control" maxlength="29">
					</div>
					<div class="mb-3">
						<label class="form-label text-light fw-bold">Nova Senha:</label>
						<input type="password" name="new_password" class="form-control" maxlength="29">
					</div>
					<div class="mb-3">
						<label class="form-label text-light fw-bold">Confirmar Nova Senha:</label>
						<input type="password" name="new_password_confirm" class="form-control" maxlength="29">
					</div>
					<button type="submit" class="btn btn-leaf">Alterar Senha</button>
					<a href="{{ getLink('account/manage') }}" class="btn btn-outline-light ms-2">Voltar</a>
				</form>
			</div>
		</div>
	</div>
</div>
