# Proteger arquivos sensíveis
<Files "config.local.php">
    Require all denied
</Files>
<Files "composer.json">
    Require all denied
</Files>
<Files "composer.lock">
    Require all denied
</Files>
<Files "key.pem">
    Require all denied
</Files>
Options -Indexes
