<div style="text-align: center;">
	<h1>Payment was successful</h1>

	<p class="success">
		Obrigado por comprar Pontos Premium no nosso servidor.<br>
		Os Pontos Premium já foram adicionados à sua conta.<br>
		We wish you a nice game!
	</p>
</div>
