<div class="card rasta-card mb-3">
	<div class="card-header">
		<h6 class="mb-0">📸 Print do Dia</h6>
	</div>
	<div class="card-body text-center p-2">
		<a href="?subtopic=gallery&image={{ config['gallery_image_id_from_database'] }}">
			<img src="{{ image['thumb'] }}" alt="Print do Dia" class="img-fluid rounded" style="max-height:140px;">
		</a>
	</div>
	<div class="card-footer text-center p-1">
		<a href="{{ getLink('gallery') }}" class="btn btn-outline-leaf btn-sm w-100">Ver Galeria</a>
	</div>
</div>
